#virtual environments
venv/


#Sensitive Dataset and project details
dataset/
Task/


# Ignore model artifacts and generated assets
*.pkl
scripts/


# Images: ignore all except the F1 comparison chart used in README
images/*
!images/f1_comparison.png


